[submodule "libraries/AUnit"]
	path = libraries/AUnit
	url = https://github.com/bxparks/AUnit
[submodule "libraries/EpoxyDuino"]
	path = libraries/EpoxyDuino
	url = https://github.com/bxparks/EpoxyDuino
